---
- name: Connect new cluster to Hub ACM
  include_role:
    name: ocp-add-cluster-to-acm
  when: add_new_cluster_to_acm_hub|bool and cluster_name != "core-ocp"
  vars:
    target_cluster_name: "{{ cluster_name }}"
    target_cluster_api_url: "{{ cluster_api_url }}"
    target_cluster_password: "{{ cluster_kubeadmin_password }}"
    target_cluster_username: "{{ cluster_kubeadmin_username }}"
    target_cluster_skip_verify_tls: true