---
- name: Create disk images for OpenShift Nodes
  command: "qemu-img create -f qcow2 {{ libvirt_base_vm_path }}/{{ cluster_name }}-{{ item.name }}.qcow2 {{ item.vm.disk_size }}G"
  args:
    creates: "{{ libvirt_base_vm_path }}/{{ cluster_name }}-{{ item.name }}.qcow2"
  loop: "{{ cluster_nodes }}"
  loop_control:
    label: "{{ libvirt_base_vm_path }}/{{ cluster_name }}-{{ item.name }}.qcow2"