- name: Generate per-cluster SSH key if needed
  block:
    - name: Create the key pair
      community.crypto.openssh_keypair:
        path: "{{ generated_asset_directory }}/{{ cluster_id }}/cluster_key"
    - name: Read SSH Key
      set_fact:
        ssh_public_key: "{{ lookup('file', generated_asset_directory+'/'+cluster_id+'/cluster_key') }}"
  when: generate_ssh_key|bool

- name: Read in SSH key
  block:
    - name: Read pre-exising SSH Key
      set_fact:
        ssh_public_key: "{{ lookup('file', ssh_pub_key_path) }}"
  when: not generate_ssh_key
