---

- name: Test playbook
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    cluster_id: ""
    cluster_status: ""
    deployment_name: ""
    compiled_uri_headers:
      User-Agent: AnsibleAutomation/4.2

  tasks:
    - name: Read in variables
      include_vars:
        dir: vars
        extensions:
          - 'yaml'
          - 'yml'
      
    - name: inc
      include_role:
        name: ocp-operators-deploy-nfd
      
    - name: inc
      include_role:
        name: ocp-operators-deploy-gpu-operator